<mat-card *ngIf="stripeStatus == 'success'">
    <h1>Thanks for your order!</h1>
    <p>
        We appreciate your business!
    </p>
</mat-card>

<mat-card *ngIf="stripeStatus == 'cancel'">
    <h1>Transaction cancelled!</h1>
    <p>
        Please select an item to purchase.
    </p>
</mat-card>

<button *ngIf="stripeStatus != ''" mat-raised-button color="primary" (click)="reloadHome()">
    <mat-icon>home</mat-icon>
    <span>Reload Home</span>
</button>


<div *ngIf="stripeStatus == ''" style="display: flex;">
    <mat-card *ngFor="let item of clothes | async; let i = index" style="flex: 1 1 auto;">
        <img [src]=item.image>
        <h2>{{ item.name }}</h2>
        <h3>${{ item.price }}</h3>
        <button mat-stroked-button color="primary" id="checkout-button" (click)='checkoutFirebase(item.id)'>Checkout with Firebase</button>
    </mat-card>
</div>

